{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MySite</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">{% for media in media_suff %}{{ media.media_name }}{% endfor %}</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'resume' %}">Resume</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact' %}">Contect</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="card-footer text-light bg-dark" >
        <footer>
            <p class="copyright " >{% for media in media_suff %}{{ media.media_name }}{% endfor %} © <script>document.write(new Date().getFullYear())</script></p>
        </footer>
    </div>
</body>
</html>