{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><br>
    <div class="container" style="width: 70%">
        <div class="jumbotron">
            <div class="contact-clean">
                <form method="post">
                    <h2 class="text-center">Contact Me</h2><br><br>
                    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name" style="width: 70%"></div>
                    <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email" style="width: 70%" ><small class="form-text text-danger" >Please enter a correct email address.</small></div>
                    <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14" ></textarea></div>
                    <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="width: 70%">
        <div class="jumbotron">
            <h1>Folllow Me -</h1><br><br>
            <!--Facebook-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-facebook-f "></i> Facebook</button>
            <!--Twitter-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-twitter "></i> Twitter</button>
            <!--Google +-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-google-plus-g "></i> Google +</button>
            <!--Linkedin-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-linkedin-in "></i> Linkedin</button>
            <!--Instagram-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-instagram "></i> Instagram</button>
            <!--Pinterest-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-pinterest "></i> Pinterest</button>
            <!--Vkontakte-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-vk "></i> Vkontakte</button>
            <!--Stack Overflow-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-stack-overflow "></i> Stack Overflow</button>
            <!--Youtube-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-youtube "></i> Youtube</button>
            <!--Slack-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-slack-hash "></i> Slack</button>
            <!--Github-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-github "></i> Github</button>
            <!--Comments-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-comments "></i> Comments</button>
            <!--Email-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-envelope "></i> Email</button>
            <!--Dribbble-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-dribbble "></i> Dribbble</button>
            <!--Reddit-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-reddit-alien "></i> Reddit</button>
            <!--WhatsApp-->
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-whatsapp "></i> Whatsapp</button>
        </div>
    </div>
{% endblock %}