{% extends 'base.html' %}
{% load static %}
{% block content %}

<br><br><br>
    {% for Person in Person_Details %}
    <div class="container ">
        <div class="jumbotron">
            <h6>Hi there, This is <h3>{{ Person.Person_name }},</h3></h6>
            <h1>A {{ Person.Person_pro }}</h1>
            <h6>➲ {{ Person.Person_body }}</h6>
            <img src="static{{ Person.Person_img.url }}" style="float: right; margin: 10px" width=300px; height=300px>
        </div>
    </div>
    {% endfor %}
    <br>
    {% for Section in Category_Sections %}
    <div class="container ">
        <div class="jumbotron">
            <h4>{{ Section.Section_title }}</h4><br>
            <h6>➲ {{ Section.Section_body1 }}</h6><br>
            <h6>➲ {{ Section.Section_body2 }}</h6><br>
            <h6>➲ {{ Section.Section_body3 }}</h6><br>
            <h6>➲ {{ Section.Section_body4 }}</h6><br>
        </div>
    </div>
    {% endfor %}
{% endblock %}